<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>Math Typesetting | Julian Calleja</title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="A brief guide to setup KaTeX">
  <meta name="keywords" content="gohugo , hugo , go , blog">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  
  

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />

  
  
    
 
  
  
  
  
  
  
    
    <link type="text/css" rel="stylesheet" href="/css/post.min.679ea46872c2b319c5ae942c601a7330924fd57451c89d621d6cb129c870c2a8.css" integrity="sha256-Z56kaHLCsxnFrpQsYBpzMJJP1XRRyJ1iHWyxKchwwqg="/>
  
    
    <link type="text/css" rel="stylesheet" href="/css/custom.min.cc3beb78ffe8ac221d4dd13d706263cc640cd72bbe4831420068936e65ffae66.css" integrity="sha256-zDvreP/orCIdTdE9cGJjzGQM1yu&#43;SDFCAGiTbmX/rmY="/>
  
  
   
   
    

<script type="application/ld+json">
  
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https:\/\/juliancalleja.netlify.app\/"
      },
      "articleSection" : "blog",
      "name" : "Math Typesetting",
      "headline" : "Math Typesetting",
      "description" : "A brief guide to setup KaTeX",
      "inLanguage" : "en-US",
      "author" : "",
      "creator" : "",
      "publisher": "",
      "accountablePerson" : "",
      "copyrightHolder" : "",
      "copyrightYear" : "2020",
      "datePublished": "2020-06-05 00:00:00 \x2b0000 UTC",
      "dateModified" : "2020-06-05 00:00:00 \x2b0000 UTC",
      "url" : "https:\/\/juliancalleja.netlify.app\/blog\/math-typesetting\/",
      "wordCount" : "119",
      "keywords" : ["gohugo", "hugo", "go", "blog", "Blog"]
    }
  
  </script>

<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-179079168-1', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

<body>
  <div class="burger__container">
  <div class="burger" aria-controls="navigation" aria-label="Menu">
    <div class="burger__meat burger__meat--1"></div>
    <div class="burger__meat burger__meat--2"></div>
    <div class="burger__meat burger__meat--3"></div>
  </div>
</div>
 

  <nav class="nav" role="navigation">
  <ul class="nav__list">
    
    
      <li>
        <a  href="/">hello</a>
      </li>
    
      <li>
        <a  href="/about/overview/">about</a>
      </li>
    
      <li>
        <a  class="active"
         href="/blog">blog</a>
      </li>
    
      <li>
        <a  href="/resources">resources</a>
      </li>
    
  </ul>
</nav>


  <main>
    
    

    <div class="flex-wrapper">
      <div class="post__container">
        <div class="post">
          <header class="post__header">
            <h1 id="post__title">Math Typesetting</h1>
            <time datetime="2020-06-05 00:00:00 &#43;0000 UTC" class="post__date"
            >Jun 5 2020</time>
          </header>
          <article class="post__content">
              
<p>Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.</p>
<p>In this example we will be using <a href="https://katex.org/">KaTeX</a></p>
<ul>
<li>Create a partial under <code>/layouts/partials/math.html</code></li>
<li>Within this partial reference the <a href="https://katex.org/docs/autorender.html">Auto-render Extension</a> or host these scripts locally.</li>
<li>Include the partial in your templates like so:</li>
</ul>
<pre><code>{{ if or .Params.math .Site.Params.math }}
{{ partial &quot;math.html&quot; . }}
{{ end }}
</code></pre>
<ul>
<li>To enable KaTex globally set the parameter <code>math</code> to <code>true</code> in a project&rsquo;s configuration</li>
<li>To enable KaTex on a per page basis include the parameter <code>math: true</code> in content files.</li>
</ul>
<p><strong>Note:</strong> Use the online reference of <a href="https://katex.org/docs/supported.html">Supported TeX Functions</a>
</p>
<h3 id="examples">Examples<a class="anchor" href="#examples">#</a></h3>
<p>Inline math: $$ \varphi = \dfrac{1+\sqrt5}{2}= 1.6180339887… $$</p>
<p>Block math:</p>
<p>$$
\sigma(t) = \cfrac{1}{1 + e^{-t}}
$$</p>

              
                  

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_SVG"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
            showMathMenu: false, //disables context menu
            tex2jax: {
            inlineMath: [ ['$','$'], ['\\(','\\)'] ]
           }
    });
</script>
              
          </article>
          

<ul class="tags__list">
    
    <li class="tag__item">
        <a class="tag__link" href="https://juliancalleja.netlify.app/tags/math/">math</a>
    </li></ul>

 <div class="pagination">
  
    <a class="pagination__item" href="https://juliancalleja.netlify.app/blog/rich-text/">
        <span class="pagination__label">Previous Post</span>
        <span class="pagination__title">Rich Content</span>
    </a>
  

  
    <a class="pagination__item" href="https://juliancalleja.netlify.app/blog/markdown-syntax-guide/">
      <span class="pagination__label">Next Post</span>
      <span class="pagination__title" >Markdown Syntax Guide</a>
    </a>
  
</div>

          
          <footer class="post__footer">
            


<div class="social-icons">
  
     
    
  
     
    
  
     
    
      <a class="social-icons__link" title="Email"
         href="mailto:jcall0098@gmail.com"
         target="_blank" rel="noopener">
        <div class="social-icons__icon" style="background-image: url('https://juliancalleja.netlify.app/svg/email.svg')"></div>
      </a>
    
  
     
    
  
     
    
      <a class="social-icons__link" title="GitLab"
         href="https://gitlab.com/julian-calleja"
         target="_blank" rel="noopener">
        <div class="social-icons__icon" style="background-image: url('https://juliancalleja.netlify.app/svg/gitlab.svg')"></div>
      </a>
    
  
     
    
  
     
    
      <a class="social-icons__link" title="LinkedIn"
         href="https://www.linkedin.com/in/julian-calleja/"
         target="_blank" rel="noopener">
        <div class="social-icons__icon" style="background-image: url('https://juliancalleja.netlify.app/svg/linkedin.svg')"></div>
      </a>
    
  
     
    
     
</div>

            <p>© 2021</p>
          </footer>
          </div>
      </div>
      
    </div>
    

  </main>

   

  
  <script src="/js/index.min.49e4d8a384357d9b445b87371863419937ede9fa77737522ffb633073aebfa44.js" integrity="sha256-SeTYo4Q1fZtEW4c3GGNBmTft6fp3c3Ui/7YzBzrr&#43;kQ=" crossorigin="anonymous"></script>
  
  
  <script src="https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js"></script>

  
  <script src="https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"
    data-autoloader-path="https://unpkg.com/prismjs@1.20.0/components/"></script>

  


</body>

</html>
