@import "colors";
@import "vars";

.post-list__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @media screen and (min-width: $medium) {
    padding-left: 50px;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 1.5rem;
}

.post__title {
  margin-top: 0;
  font-weight: 500;

  a {
    color: $black;
    text-decoration: none;
  }
}

.post__date {
  color: $grey;
  font-size: 0.8rem;
}
